<div class="p-3">
  <h2>Create a Bookmark</h2>

  <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Choose a movie" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
